<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd
">

    <context:component-scan base-package="com.aurora.controller"/>

    <!--注解驱动，以使得访问路径与方法的匹配可以通过注解配置-->
    <mvc:annotation-driven>
        <!--设置ResponseBody支持的类型-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                        <value>application/xml;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--登录检测功能-->
        <!--<mvc:interceptor>-->
        <!--    &lt;!&ndash;只检测计时和背景图功能&ndash;&gt;-->
        <!--    <mvc:mapping path="/timer"/>-->
        <!--    <mvc:mapping path="/bg"/>-->
        <!--    <bean class="com.aurora.interceptor.LoginInterceptor"/>-->
        <!--</mvc:interceptor>-->
        <!--全局拦截器，打印客户端信息-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.aurora.interceptor.CommonInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <!--不拦截静态资源-->
    <mvc:resources mapping="/pages/**" location="/pages/"/>

    <!--multipart/form-data解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置上传文件最大尺寸，单位为B-->
        <property name="maxUploadSizePerFile" value="10240000"/>
    </bean>
</beans>